# Python dependencies for CouponPro server
python-dotenv
boto3
sift-stack-py
botocore
python-telegram-bot[rate-limiter]
Pillow
requests
psycopg2-binary
aiolimiter
openai
stripe
PyJWT>=2.8.0
pytest
telegram
